<div class="content api">
  <h1>List of Channel</h1>
  <ul class="channels">
      <li>
        <a href="/api/weather">Weather</a>
        <button data-channel-id="7">Get Today's Feed</button>
      </li>
  </ul>
</div>


<script>
  $(document).ready(function() {
    generate_channel_list();
    console.log(<%= @imported %>)
    $('ul.channels').on('click', 'button.raw', function() {
      $(this).prop('disabled', true).html('Processing...').addClass('btnProcess')
      id = $(this).data('channel-id');
      //console.log('/api/'+id+'/posts');
      $.ajax({
        url: '/api/'+id+'/get_feed',
        method: 'post',
        context: this,
        data: { id: id }
      }).done(function() {  // done will only be display when it is successfully added
        $(this).html('Done')
        console.log(this);
        //console.log();
      }).fail(function() { // this will display if it fails
        console.log("Fail to import data.");
      });
    });
  });

</script>