<div class="content slides">
  <h1><%= @channel.channel_name%></h1>
</div>

<% @feeds.each do |key, value| %>

  <article>
    <h1><%= key.content[:title] %></h1>

    <div class="content">
      <!-- if channel is yanko design -->
      <% if @channel.id == 1 %>
        <%= key.content[:encoded]%>

      <% end %>

    </div>
  </article>

<% end %>


<script>

  var firstP = $('article').first().find('p').first();
  var firstImg = $('article').first().find('p').first();

  $.each($('article .content'), function() {
    $p = $(this).first().find('p').first().text().substr(0,200)+'...';
    //$(this).text($(this).text().substr(0,80)+'...');
    $img = $(this).first().find('img').first();
    $figure = $(this).first().find('figure').first();
    // if ($(this).first().find('figure').first())
    //   $img = $(this).first().find('figure').first();
    // else


    $(this).empty().append($p).append($img, $figure);
  });
</script>

