<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Keep It!</title>
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Magnific Popup core CSS file -->
  <!-- <link rel="stylesheet" href="/style/magnific-popup.css"> -->
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/application.js'></script>
  <!-- Magnific Popup core JS file -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <script src="/javascripts/velocity.min.js"></script>
</head>
<body>
  <header>
    <nav class="primary navbar-fixed-top">
      <ul class="">
        <li name="home"><a href="/">Home</a></li>
        <li name="explore"><a href="/explore">Explore</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li name=""><a href="/api">API</a></li>
      </ul>
    </nav>
    <div class="message">
      <div class="personal">Welcome: <%= print_user %></div>
      <div class="weatherUpdate">
        <%= print_weather %>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <h5>&copy; 2015 JC Lee. A General Assembly Project.</h5>
  </footer>

  <script>
    $.each($('.primary li'), function() {
      if($(this).find('a').attr('href') === window.location.pathname) {
        $(this).siblings('.active').removeClass('active');
        $(this).addClass('active');
      }
    });

  </script>

</body>

