<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Keep It!</title>
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/application.js'></script>
</head>
<body>
  <header>
    <nav class="primary navbar-fixed-top">
      <ul class="">
        <li name="home"><a href="/">Home</a></li>
        <li name="explore"><a href="/explore">Explore</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li name=""><a href="/api">API</a></li>
      </ul>
    </nav>
    <div class="message">
      <div class="personal">Welcome: <%= print_user %></div>
      <div class="weatherUpdate">
        <%= print_weather %>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <h5>&copy; 2015 JC Lee. A General Assembly Project.</h5>
  </footer>

  <!-- example of underscore template
  <script type="" id="feed-template">
    <h1>hello {{ name }} {{age}}</h1>
  </script>-->





  <script>
    //example of underscore template
    /*var tpl = _.template($('#feed-template').html())

  tpl({ name: 'jc', age: '234'}) // => "<h1>helo js</h>" */

  $.each($('.primary li'), function() {
    if($(this).find('a').attr('href') === window.location.pathname) {
      $(this).siblings('.active').removeClass('active');
      $(this).addClass('active');
    }
  });

  </script>
</body>

