<div class="content api">
  <h1>Listing Variable to import</h1>

  <div id="variables">

    <h5>Variable Listed for <%= @data["title"] %></h5>

    <p>Click on box below to add the keys</p>
    <% @items[0].each do |data_key, data_info| %>
    <p class="variable" data-key="<%= data_key %>">
      <label><%= data_key %></label>

      <% if (!@selected.nil?) && (@selected.include? data_key) %>
        <span class="show">Added</span>
      <% else %>
        <span>Added</span>
      <% end %>
    </p>
    <% end %>

    <form action="" method="post">
      <p>
        <label for="">Image Key :</label>
        <input type="text" name="image_url">
      </p>
      <p>
        <label for="">Description : </label>
        <input type="text" name="description">
      </p>
      <button id="submit">Submit</button>
    </form>
  </div>
</div>

<script>

  var variable = [];
  $('#variables').on('click', 'p', function() {
    $(this).find('span').toggleClass('show');
  });

  $('#submit').on('click', function(e) {
    e.preventDefault();
    var img_url = $('input[name="image_url"]').val();
    var description = $('input[name="description"]').val();
    $.each($('span.show'), function () {
      variable.push($(this).parent().data('key'));
    });
    //console.log(variable)
    $.ajax({
      url: '/api/channel/<%= params[:id] %>/variable',
      method: 'post',
      data: { variable: variable },
      context: this
    }).done(function() {
      $(this).html('Done')
      window.location='/api'
    }).fail(function() {
      console.log("Fail to save variables.");
    });
  });
</script>