//@import 'bootstrap/variables';
//@import "bootstrap/mixins";
@import 'bootstrap/glyphicons';
@import 'magnific-popup';
@import 'magnific-popup-animation';


$green: #3AC200;
$dark-grey: #3D3D3D;
$light-grey:#c0bdbf;
$purple: #7C64A2;
$small-padding: 10px;
$normal-padding: 15px;
$medium-padding: 30px;
$large-padding: 50px;
$screen-xlarge: 1200px;
$screen-large: 992px;
$screen-medium: 768px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
body {
  color: $dark-grey;
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
}
ul {
  width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: center;
  background: #222;
  color: #bbb;
  padding: 20px;
  clear: both;
}

/* Primary nav styling */
nav.primary  {
  box-shadow: rgba(0,0,0,.1) 1px 1px 4px 2px;
  li {
    display: inline-block;
    padding: 15px;
    a {
      color: $dark-grey
    }
    &:hover {
      background-color: darken($green, 5%);
      a {
        color: white;
      }
    }
  }
  li.active {
    background-color: $green;

    a {
      color: white;
    }
  }
}

/* User Standard Message */
.message {
  margin: 30px 10px;
  height: 50px;
}

.weatherUpdate{
  margin-top: 10px;
}
span.weather{
  padding-right: 20px;

  em {
    font-size: 2em;
    font-style: normal;
    color: $green;
    font-weight: bold;
  }
  b{
    font-size: .8em;
    padding-left: 3px;
  }
}

.container{
  position: relative;
  display: inline-block;
  width: 100%;
}

nav.category {
  width: 100%;
  background-color: $dark-grey;
  text-align: center;
  padding: 15px;
  li{
    display: inline-block;
    padding: 0 15px;
    a {
      color: white;
      cursor: pointer;
    }
  }
}
.channels {
  h3 {
    background-color: $green;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    color: white;
  }
}

.channel {
  display: block;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid rgba(black, .1) ;
  background-color: $purple;
  color: white;
  text-align: center;
  margin: auto;
  position: relative;
  cursor: pointer;
  overflow-y: hidden;
  div {
    height:inherit;
    width: 100%;

  }
  &:hover > .channelDesc{
    top:70%;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: $light-grey;
  }
  img{
    height: 200px;
    width:100%;
  }
}
.channelOption{
  width: auto;
}
.channelName {
  p{
    position:relative;
    top:50%;
  }
}
.channelDesc {
  position:absolute;
  top: 200px;
  &:after {
    content:'';
    width: 100%;
    height: 11px;
    background: url('/images/works-bg-2.png') no-repeat;
    position: absolute;
    background-size: 100% 11px;
    left: 0;
    top:-11px;
  }
  p{
    padding: 0 $normal-padding;
    color: $dark-grey;
    text-align: left;
    font-size: 0.8em;
  }

  .title {
    text-transform: uppercase;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }
}
.content {
  h1, ul {
    padding: 0 50px;
  }
  h1{
    background-color: $dark-grey;
    color: white;
    padding: $small-padding;
  }
}

/* Feed article styling */
.channelList article {
  padding: 15px;
  * {
    padding: 10px 0;
  }
  img{
    width: 100%;
  }
  h1{
    background-color: white;
    color: $dark-grey;
  }
  border: 1px solid $light-grey;
}
.article_link {
  cursor: pointer;
}
/* Slides article styling */
.slides{
  background-color: red;
}

button.slideshow{
  padding: 20px;
  width: 20%;
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 1em;
  background-color: $green;
  color: white;
  border: none;
  cursor: pointer;
  &:active, &:focus{
    outline:none;
  }
  &:hover{
    background-color: darken($green, 5%);
  }
  &:before{
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    position: relative;
    top: 0;
    right: 7px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px 10px;
  }
}

/* API Styling */
.api {
  padding: 30px;
  li{
    padding: 30px 0;
    list-style: none;
    border-bottom: 1px solid lighten($dark-grey, 50%);
    text-align: left;
    a {
      display:inline-block;
      width: 70%;
      text-align: left;
    }
  }
  button {
    padding: 10px;
    border:none;
    background-color: $purple;
    color: white;
    font-size: 1em;

    &:focus {
      box-shadow:none;
    }
  }
  h1 {
    margin-bottom: 30px;
  }
  p {
    padding: 5px 0;
  }
  label {
    color: $green;
  }
  h5 {
    color: $purple;
  }

  .channelInfo {
    border: 1px dashed purple;
    padding: 20px;
    font-size: 0.8em;
  }

  .channelItem {
    margin-top:30px;
  }

  .item{
    border: 1px dashed purple;
    padding: 20px;
    margin: 10px;
  }
}

#variables {
  padding:20px 0;
  .variable {
    display:inline-block;
    padding: 20px;
    border: 1px solid $purple;
    margin-top: 20px;
    cursor:pointer;
    text-align: center;

    span {
      font-size: .7em;
      color: $light-grey;
      display: none;
    }
    span.show {
      display:block;
    }
  }
  .variableSubtitle {
    margin-top: 20px;
  }
}

.successMessage {
  padding: 10px 50px;
  background-color: $green;
  color: white;
}

.btnProcess {
  opacity: 0.5;
}
.fs-img{
  width: 100%;
}

@media screen and (min-width: 600px) and (max-width: $screen-large - 1px) {
  .channels {
    //background-color: lighten($dark-grey, 30%);
    text-align: center;
  }
  .channel {
    width: 50%;
    display: inline-block;
    //border: 1px solid rgba($purple, .3);
    //box-shadow: 1px 1px 1px 5px rgba(0,0,0,.3);
  }
  .message {
    padding: 0 30px;
  }

  .api h1 {
    padding: 10px 30px;
  }
}

@media screen and (min-width: $screen-large) and (max-width: $screen-xlarge - 1px) {


  .channelList article{
    width: 49.5%;
    display: block;
    vertical-align: top;
    float:left;
    background-color:white;
  }

  .message {
    padding: 0 30px;
  }

  .api h1 {
    padding: 10px 30px;
  }
}

@media screen and (min-width: $screen-large) {
  .channel {
    width: 33%;
    display: inline-block;
    border: 1px solid lighten($light-grey,5%);
    overflow-x: hidden;
  }

  .channels h3 {
    font-size: 1.3em;
    padding: 10px;
    margin-top: 20px;
  }


  .channelList article {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    position: relative;
    h1 {
      font-size: 1.2em;
    }

    p{
      font-size: 0.9em;
    }

    img {
      max-height: 297px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 10px;
    }
  }
}


